# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL=

# Next Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Next Auth Github Provider
GITHUB_ID=
GITHUB_SECRET=
