@media prefers-reduced-motion {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

*:not(.focus-none) {
  @apply outline-2 outline-offset-2 !outline-t3-purple-400 transition-[outline-offset] focus-visible:outline;
}

*:not(:active):focus-visible {
  @apply outline-offset-4;
}

a:has(> img) {
  @apply inline-block;
}
