@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .cursor::after {
    display: block;
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
  }

  @keyframes cursor {
    0%,
    40% {
      opacity: 1;
    }

    60%,
    100% {
      opacity: 0;
    }
  }
  
}
