@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  .cursor::after {
    display: block;
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
  }

  @keyframes cursor {
    0%,
    40% {
      opacity: 1;
    }

    60%,
    100% {
      opacity: 0;
    }
  }

  .markdown {
    @apply text-slate-900 dark:text-t3-purple-100 flex flex-col items-start justify-start w-full px-3;
  }

  .markdown h1 {
    @apply mt-8 mb-4 text-3xl font-extrabold;
  }
  .markdown h2 {
    @apply mt-8 mb-4 text-2xl font-semibold;
  }
  .markdown h3 {
    @apply mt-8 mb-4 text-xl font-semibold;
  }
  .markdown li {
    @apply list-disc;
  }
  .markdown ol > li {
    @apply list-decimal;
  }
  .markdown p {
    @apply mb-4 dark:text-white
  }
  .markdown a > p {
    @apply mb-0 text-sm;
  }
  .markdown a {
    @apply underline decoration-dotted underline-offset-2 dark:hover:text-t3-purple-300 dark:decoration-t3-purple-200 decoration-slate-500 hover:text-slate-500 text-t3-purple-200;
  }
  .markdown pre {
    @apply font-mono my-3 p-2 rounded-md sm:pt-2 pl-3 mx-auto;
  }
  .markdown h3 {
    @apply mb-0 font-semibold;
  }
  .markdown code {
    @apply font-mono bg-[#0d1117] p-1 rounded-md text-slate-50 text-xs cursor-text selection:bg-t3-purple-100 w-full whitespace-pre-wrap mx-auto ;
  }
  .markdown p > img {
    @apply text-sm mt-8;
  }
 .markdown table > tbody > tr > td > a {
  @apply break-all;
 }

}
