@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown h1 {
    @apply mt-8 mb-4 text-3xl font-extrabold;
  }
  .markdown h2 {
    @apply mt-8 mb-4 text-2xl font-semibold;
  }
  .markdown h3 {
    @apply mt-8 mb-4 text-xl font-semibold;
  }
  .markdown li {
    @apply list-disc;
  }
  .markdown ol > li {
    @apply list-decimal;
  }
  .markdown p {
    @apply mb-4;
  }
  .markdown a > p {
    @apply mb-0 text-sm;
  }
  .markdown a {
    @apply underline decoration-dotted underline-offset-2 dark:hover:text-brand-primary dark:decoration-brand-primary decoration-slate-500 hover:text-slate-500;
  }
  .markdown pre {
    @apply font-mono my-3 p-2 rounded-md scrollbar dark:scrollbar-track-brand-primary scrollbar-thumb-slate-800 scrollbar-track-brand-primary pt-10 sm:pt-2;
  }
  .markdown h3 {
    @apply mb-0 font-semibold;
  }
  .markdown code {
    @apply font-mono bg-[#0d1117] p-1 rounded-md text-slate-50;
  }
  .markdown p > img {
    @apply text-sm mt-8;
  }
  .checkmark__check {
    @apply block h-12 mx-auto stroke-2 w-12;
    border-radius: 50%;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
  }
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  animation-play-state: paused;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  animation-play-state: paused;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.anim-1 {
  animation: anim-1-keyframes 1s ease-in-out forwards;
  animation-duration: 500ms;
}
.anim-2 {
  animation: anim-1-keyframes 1s ease-in-out forwards;
  animation-duration: 600ms;
}

@keyframes anim-1-keyframes {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
