---
import CliPreview from "./cli";
import PageSection from "./pageSection.astro";
---

<PageSection
  className="grid grid-cols-1 xl:grid-cols-2 gap-8 items-center mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8 lg:grid lg:gap-x-8 xl:gap-x-12"
  size={"24"}
  id="about"
>
  <div class="flex flex-col gap-2 md:gap-4 max-w-[800px] xl:max-w-full mx-auto">
    <h2
      class="text-t3-purple-50 font-bold text-3xl lg:text-5xl md:text-5xl w-full mb-2"
    >
      What is this? Some kinda template?
    </h2>
    <p
      class="mt-4 text-base lg:text-xl xl:text-xl md:text-xl text-t3-purple-200 max-w-3xl mx-auto"
    >
      Kind of. We love all of the technologies that create-t3-app includes, but
      they are a bit annoying to get started with and connect them together. So
      we made create-t3-app to do one thing: Simplify complex boilerplate around
      the core T3 Stack tech without compromising the pieces modularity.
    </p>
    <p
      class="mt-4 text-base lg:text-xl xl:text-xl md:text-xl text-t3-purple-200 max-w-3xl mx-auto"
    >
      This is NOT an all-inclusive template and we expect you to bring your own
      libraries as well. Check out <a
        href="/en/other-recs"
        class="text-t3-purple-600">our other recommendations</a
      > for even more info on topics such as state management and deployment - but
      we do not believe these are needed on every project.
    </p>
  </div>
  <div>
    <CliPreview client:only="react" />
  </div>
</PageSection>
