---
import CliPreview from "./cli";
import PageSection from "./pageSection.astro";
---

<PageSection
  className="grid grid-cols-1 xl:grid-cols-2 gap-8 items-center mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8 lg:grid lg:gap-x-8 xl:gap-x-12"
  size={"24"}
  id="about"
>
  <div class="flex flex-col gap-2 md:gap-4 max-w-[800px] xl:max-w-full mx-auto">
    <h2
      class="text-t3-purple-50 font-bold text-3xl lg:text-5xl md:text-5xl w-full mb-2"
    >
      Typesafe From The Start
    </h2>
    <p
      class="mt-4 text-base lg:text-xl xl:text-xl md:text-xl text-t3-purple-200 max-w-3xl mx-auto"
    >
      We made create-t3-app to do one thing: Streamline the setup of typesafe
      Next.js apps WITHOUT compromising modularity.
    </p>
    <p
      class="mt-4 text-base lg:text-xl xl:text-xl md:text-xl text-t3-purple-200 max-w-3xl mx-auto"
    >
      After countless projects and many years on this tech, we have lots of
      opinions and insights. We've done our best to encode them into this CLI.
    </p>
    <p
      class="mt-4 text-base lg:text-xl xl:text-xl md:text-xl text-t3-purple-200 max-w-3xl mx-auto"
    >
      This is NOT an all-inclusive template. <b
        >We expect you to bring your own libraries.</b
      > Check out <a href="/en/other-recs" class="text-t3-purple-600"
        >our other recommendations</a
      > for things like state management and deployment
    </p>
  </div>
  <div>
    <CliPreview client:only="react" />
  </div>
</PageSection>
