---
import CliPreview from "./cli";
---

<section
  class="grid grid-cols-1 xl:grid-cols-2 gap-8 items-center mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 lg:grid lg:gap-x-8 xl:gap-x-12 lg:py-16"
>
  <div class="flex flex-col gap-2 md:gap-4 max-w-[800px] xl:max-w-full mx-auto">
    <h1 class="text-t3-purple-100 text-center font-bold text-4xl w-full mb-2">
      What is this? Some kinda template?
    </h1>
    <p class="text-t3-purple-100 text-lg text-center">
      Kind of. We love all of the technologies that create-t3-app includes -
      check out <a
        href="https://init.tips"
        class="underline decoration-dotted underline-offset-4"
        >init.tips
      </a> for even more info on topics such as state management and deployment -
      but we do not believe these are needed on every project.
    </p>
    <p class="text-t3-purple-100 text-lg text-center">
      So we made create-t3-app to do one thing: Simplify complex boilerplate
      around the core T3 Stack tech without compromising the pieces modularity.
      This is NOT an all-inclusive template and we expect you to bring your own
      libraries as well.
    </p>
  </div>
  <div>
    <CliPreview client:only="react" />
  </div>
</section>
