---
import JumpToContent from "../components/accessibility/jumpToContent.astro";
import Asset from "../components/branding/Asset.astro";
import LandingPage from "../layouts/landingPage.astro";
---

<LandingPage isNotFound={true}>
  <JumpToContent />
  <div>
    <div class="py-12 sm:py-8 md:py-12 lg:py-14 xl:py-12">
      <div class="mx-auto max-w-3/4 px-8">
        <div class="flex flex-col items-center gap-8 lg:gap-12">
          <h1
            class="text-center text-5xl font-bold tracking-tight text-white sm:text-6xl sm:tracking-tight lg:text-[4rem] xl:text-[5rem] xl:tracking-tight"
          >
            Brand assets
          </h1>
          <div class="flex flex-wrap gap-8 w-full justify-center">
            <Asset
              assets={{
                png: null,
                svg: "https://user-images.githubusercontent.com/6751787/229332759-899b2a55-8f00-4985-bc48-e6e47a29bc00.svg",
              }}
              bg="white"
              description="Please use this asset on light background"
              title="Dark T3 Logo"
              attribution={true}
            />
            <Asset
              assets={{
                png: null,
                svg: "https://user-images.githubusercontent.com/6751787/229332757-90055187-e13d-45cb-9f16-01ced0367969.svg",
              }}
              bg="black"
              description="Please use this asset on dark background"
              title="Light T3 Logo"
              attribution={true}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</LandingPage>
