---
import JumpToContent from "../components/accessibility/jumpToContent.astro";
import LandingPage from "../layouts/landingPage.astro";
---

<LandingPage isNotFound={true}>
  <JumpToContent />
  <div>
    <div class="py-12 sm:py-8 md:py-12 lg:py-14 xl:py-12">
      <div class="mx-auto max-w-3/4 px-8">
        <div class="flex flex-col items-center gap-8 lg:gap-12">
          <h1
            class="text-center text-5xl font-bold tracking-tight text-white sm:text-6xl sm:tracking-tight lg:text-[4rem] xl:text-[5rem] xl:tracking-tight"
          >
            Brand assets
          </h1>
        </div>
      </div>
    </div>
  </div>
</LandingPage>
