---
import "../styles/globals.css";
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Create T3 App - FAQ</title>
</head>

<body class="bg-zinc-800">
  <div class="p-8 text-zinc-300">
    <h1 class="my-2 font-bold text-3xl">FAQ</h1>
    Coming soon...
  </div>
</body>

</html>