---
import { type SidebarItemLink } from "../../config";
import { getIsRtlFromUrl, getLanguageFromURL } from "../../languages";
import { paginate } from "../../utils/pagination";
import LeftArrow from "../icons/leftArrow.astro";
import RightArrow from "../icons/rightArrow.astro";

const currentPage = Astro.url.pathname;
const hasTrailing = currentPage.endsWith("/");
const currentPageMatch = currentPage.slice(
  1,
  hasTrailing ? -1 : currentPage.length,
) as SidebarItemLink;

const langCode = getLanguageFromURL(currentPage);
const { next, prev } = paginate(langCode, currentPageMatch);

const { pathname } = Astro.url;
const isRtl = getIsRtlFromUrl(pathname);
---

<div
  class="text-t3-purple-800 dark:text-t3-purple-200 mt-16 mb-8 flex flex-row items-center justify-between px-4 pt-4 font-medium lg:px-8"
>
  <div>
    {
      prev ? (
        <a
          class="hover:text-t3-purple-400 dark:hover:text-t3-purple-100 flex items-center underline-offset-2 hover:underline"
          rel="prev"
          href={Astro.site?.pathname + prev.link}
        >
          <>
            {isRtl ? <RightArrow /> : <LeftArrow />}
            {prev.text}
          </>
        </a>
      ) : null
    }
  </div>
  <div>
    {
      next ? (
        <a
          rel="next"
          class="hover:text-t3-purple-400 dark:hover:text-t3-purple-100 flex items-center underline-offset-2 hover:underline"
          href={Astro.site?.pathname + next.link}
        >
          <>
            {next.text}
            {isRtl ? <LeftArrow /> : <RightArrow />}
          </>
        </a>
      ) : null
    }
  </div>
</div>

<hr class="border-t3-purple-300/20 border-t-2" />
