# build output
dist/
.astro

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*


# environment variables
.env
.env.production
!.env.example

# macOS-specific files
.DS_Store
