---
import "../styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
    <div class="flex flex-col items-center justify-center min-h-screen bg-[#171717] relative">
      <div id="toast" class="absolute items-center justify-center rounded-lg top-2 mx-auto bg-[#262626] h-10 w-24 opacity-0 px-3 space-x-3"><span class="flex  px-3 items-center justify-center rounded-lg text-[#e8dcff]"><svg id="checkmark" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> <circle id="checkmark__circle" class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path id="checkmark__check" class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
      </svg><span class="pl-1">Copied</span></span></div>
      <div><img src="/favicon.svg" class="scale-50 mx-auto -m-6"></div>
      <div>
        <h1 class="text-[#E8DCFF] text-5xl font-bold text-center anim-1">Create {" "}<span class="text-violet-300">T3</span>{" "} App</h1>
      </div>
      <div class="pt-12 md:pt-6"/>
      <pre id="command"  class="flex px-3 py-1.5 text-base text-blue-300 rounded-md cursor-pointer bg-neutral-800 hover:bg-neutral-700 anim-2">
      <code >npx create-t3-app@latest</code>
      </pre>
      <div class="mt-4"></div>
      <div class="flex gap-4 font-medium text-neutral-300 anim-2 delay-500"><a href="https://github.com/t3-oss/create-t3-app" rel="noreferrer" target="_blank" class="px-3 py-1 transition-all duration-200 rounded-md hover:bg-neutral-800">GitHub</a><a href="https://init.tips" rel="noreferrer" target="_blank" class="px-3 py-1 transition-all duration-200 rounded-md hover:bg-neutral-800">T3 Stack</a><a href="/en/introduction" class="px-3 py-1 transition-all duration-200 rounded-md hover:bg-neutral-800">Docs</a></div>
      
      <div class="fixed cursor-pointer bottom-8"><a target="_blank" rel="noopener noreferrer" href="https://vercel.com?utm_source=t3-oss&amp;utm_campaign=oss"><span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"><span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"><img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27212%27%20height=%2744%27/%3e"></span><img alt="Powered by Vercel" src="https://www.datocms-assets.com/31049/1618983297-powered-by-vercel.svg" decoding="async" data-nimg="intrinsic" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%" srcset="https://www.datocms-assets.com/31049/1618983297-powered-by-vercel.svg 1x, https://www.datocms-assets.com/31049/1618983297-powered-by-vercel.svg 2x"><noscript><img alt="Powered by Vercel" srcset="https://www.datocms-assets.com/31049/1618983297-powered-by-vercel.svg 1x, https://www.datocms-assets.com/31049/1618983297-powered-by-vercel.svg 2x" src="https://www.datocms-assets.com/31049/1618983297-powered-by-vercel.svg" decoding="async" data-nimg="intrinsic" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%" loading="lazy"/></noscript></span></a></div>
    </div>
	</body>
</html>

<script is:inline>
document.getElementById('command').addEventListener('click', function() {
      const pre = this.parentElement;
      let code = pre.querySelector("code");
      let text = code.innerText;
      navigator.clipboard.writeText(text);
      document.getElementById('toast').className = "px-3 opacity-100 transform-all duration-1000 ease-in-out absolute top-2 mx-auto space-x-3 bg-[#262626] h-10 w-24 flex items-center justify-center rounded-lg";
      document.getElementById('checkmark').style = "animation-play-state: running";
      document.getElementById('checkmark__check').style = "animation-play-state: running";
      setTimeout(() => {
        document.getElementById('toast').className = "px-3 opacity-0 transform-all duration-1000 ease-in-out absolute top-2 mx-auto space-x-3 bg-[#262626] h-10 w-24 flex items-center justify-center rounded-lg";
      }, 2500);
  });
</script>
