---
import Button from "../landingPage/button.astro";
---

<Button
  href="#content"
  className="absolute opacity-0 -top-96 -left-96 focus:top-0 focus:left-0 focus:opacity-100 z-50"
>
  Jump to content
</Button>
