---
import Button from "../landingPage/button.astro";
---

<Button
  href="#content"
  className="absolute opacity-0 -top-96 ltr:-left-96 rtl:-right-96 focus:top-0 ltr:focus:left-0 rtl:focus:right-0 focus:opacity-100 z-50"
>
  Jump to content
</Button>
