---
import Button from "../landingPage/button.astro";
---

<Button
  href="#content"
  className="absolute -top-96 z-50 opacity-0 focus:top-0 focus:opacity-100 ltr:-left-96 ltr:focus:left-0 rtl:-right-96 rtl:focus:right-0"
>
  Jump to content
</Button>
