---
import clsx from "clsx";
import { SIDEBAR } from "../../config";
import Search from "./Search";

export interface Props {
  currentPage: string;
  isNotFound?: boolean;
}

const { currentPage, isNotFound } = Astro.props;
const isLanding = currentPage === "/" || !!isNotFound;
const hasTrailing = currentPage.endsWith("/");
const currentPageMatch = currentPage.slice(
  1,
  hasTrailing ? -1 : currentPage.length,
);
const langCode = "en";
const sidebar = SIDEBAR[langCode];
---

<div class="w-full ml--40 md:ml-0 mb-6 mx-auto px-6 md:px-8 md:hidden">
  <Search isLanding={isLanding} client:idle />
</div>
<div
  class="t3-scrollbar w-full h-full bg-default transition-colors duration-300"
>
  <ul class="pb-28 pr-4 pl-4 md:pb-0 dark:text-t3-purple-50 text-slate-900">
    {
      Object.entries(sidebar).map(([header, children]) => (
        <li>
          <div>
            <h2
              class={clsx(
                "py-2 text-xl font-semibold transition-colors duration-300 sm:text-lg",
                {
                  // mobile menu on landing page
                  "text-slate-50": isLanding,
                },
              )}
            >
              {header}
            </h2>
            <ul>
              {children.map((child) => {
                const url = Astro.site?.pathname + child.link;
                const isActive = currentPageMatch === child.link;
                return (
                  <li>
                    <a
                      href={url}
                      aria-current={isActive ? "page" : false}
                      class={clsx(
                        "block border-l-2 py-2 pl-4 text-lg text-t3-purple-800 transition-colors hover:border-t3-purple-300/50 hover:text-t3-purple-400 dark:text-t3-purple-200 dark:hover:text-t3-purple-100",
                        {
                          "font-medium": isActive,
                          "border-t3-purple-300": isActive,
                          "border-t3-purple-300/20": !isActive,
                        },
                      )}
                    >
                      {child.text}
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
</div>
