---
import clsx from "clsx";
import { SIDEBAR } from "../../config";
import Search from "./Search";

export interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;
const isLanding = currentPage === "/";
const currentPageMatch = currentPage.slice(1);
const langCode = "en";
const sidebar = SIDEBAR[langCode];
---

<nav
  aria-labelledby="grid-left"
  class={clsx("hidden md:block", {
    "pt-3 pb-28": isLanding,
    "pb-32 md:overflow-hidden": !isLanding,
  })}
>
  <div class="w-full mx-auto px-8 md:hidden">
    <!-- Put Searchbar on Mobile Dropdown Navbar -->
    <Search client:idle />
  </div>
  <ul
    id="nav-groups"
    class="p-8 h-full overflow-x-visible overflow-y-scroll t3-scrollbar sm:overflow-auto pb-32 dark:text-t3-purple-50 text-slate-900"
  >
    {
      Object.entries(sidebar).map(([header, children]) => (
        <li>
          <div>
            <h2
              class={clsx("text-xl sm:text-lg font-semibold mb-2", {
                // mobile menu on landing page
                "text-slate-50": isLanding,
              })}
            >
              {header}
            </h2>
            <ul>
              {children.map((child) => {
                const url = Astro.site?.pathname + child.link;
                const isActive = currentPageMatch === child.link;
                return (
                  <li>
                    <a
                      href={url}
                      aria-current={isActive ? "page" : false}
                      class={clsx(
                        "text-t3-purple-300 dark:text-t3-purple-200 transition-colors font-medium block py-2 px-4 rounded-md hover:text-t3-purple-400 dark:hover:text-t3-purple-100 text-lg",
                        {
                          "font-extrabold": isActive,
                        },
                      )}
                    >
                      {child.text}
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
</nav>
