---
import clsx from "clsx";
import Search from "./Search";
import SidebarToggle from "./SidebarToggle";
import ThemeToggleButton from "./ThemeToggleButton";

const currentPage = Astro.url.pathname;
const isLanding = currentPage === "/";

const navbarLinks: Array<{ href: string; label: string }> = [
  {
    href: "/en/introduction",
    label: "Docs",
  },
  {
    href: "/en/faq",
    label: "FAQ",
  },
  {
    href: "https://github.com/t3-oss/create-t3-app",
    label: "Github",
  },
  {
    href: "https://init.tips",
    label: "T3 Stack",
  },
];
---

<nav
  class={clsx("flex flex-col relative justify-between items-center py-4", {
    "z-50 text-slate-50": isLanding,
    "bg-default transition-colors": !isLanding,
  })}
  aria-label="Global"
>
  <div class="flex items-center justify-between w-full px-6">
    <div class="flex justify-between items-center w-full md:w-auto">
      <div>
        <a href="/">
          <img
            src="/favicon.svg"
            width="45"
            height="45"
            alt="T3 Logo"
            class="rounded-lg"
          />
        </a>
      </div>
      <div class="hidden -space-x-1 md:flex md:ml-10">
        {
          navbarLinks.map((navbarLink) => (
            <a
              class={clsx(
                "inline-flex items-center border font-medium relative px-3 py-2 rounded-md border-transparent",
                {
                  "text-t3-purple-100 hover:text-t3-purple-300": isLanding,
                  "text-t3-purple-500 dark:text-t3-purple-100 hover:text-t3-purple-400":
                    !isLanding,
                },
              )}
              href={navbarLink.href}
            >
              {navbarLink.label}
            </a>
          ))
        }
      </div>
    </div>
    <div class="flex flex-grow justify-end items-center">
      <div
        class={clsx("text-center mx-8", {
          hidden: isLanding,
        })}
      >
        <ThemeToggleButton client:load />
      </div>

      <div>
        <SidebarToggle currentPage={currentPage} client:idle />
      </div>
      <div class="hidden md:block rounded-lg w-full max-w-xs">
        <Search client:load />
      </div>
    </div>
  </div>
</nav>
