---
import Search from "./search";
import SidebarToggle from "./sidebarToggle";
const currentPage = Astro.url.pathname;
---

<nav
  class={currentPage === "/"
    ? `flex flex-col relative justify-between items-center pt-3 z-50 text-slate-50`
    : `flex flex-col relative justify-between items-center pt-3 bg-t3-purple-50 dark:bg-slate-900 z-50`}
  aria-label="Global"
>
  <div class="flex items-center justify-between w-full px-6 pb-2">
    <div class="flex justify-between items-center w-full md:w-auto">
      <div>
        <a class="" href="/">
          <img src="/favicon.svg" width="60" height="60" alt="T3 Logo" />
        </a>
      </div><div class="hidden -space-x-1 md:flex md:ml-10">
        <a
          class="inline-flex items-center border font-medium relative text-base px-3 py-2 rounded-md border-transparent text-t3-purple-500 dark:text-t3-purple-100 hover:text-t3-purple-400"
          href="/en/introduction"
          ><span class="">Docs</span>
        </a>
        <a
          class="inline-flex items-center border font-medium relative text-base px-3 py-2 rounded-md border-transparent text-t3-purple-500 dark:text-t3-purple-100 hover:text-t3-purple-400"
          href="/en/faq"
          ><span class="">FAQ</span>
        </a><a
          class="inline-flex items-center border font-medium relative text-base px-3 py-2 rounded-md border-transparent text-t3-purple-500 dark:text-t3-purple-100 hover:text-t3-purple-400"
          href="https://github.com/t3-oss/create-t3-app"
          target="_blank"
          rel="noopener noreferrer"
          ><span class="">Github</span>
        </a><a
          class="inline-flex items-center border font-medium relative text-base px-3 py-2 rounded-md border-transparent text-t3-purple-500 dark:text-t3-purple-100 hover:text-t3-purple-400"
          href="https://init.tips"
          target="_blank"
          rel="noopener noreferrer"
          ><span class="">T3 Stack</span>
        </a>
      </div>
    </div>
    <div>
      <SidebarToggle currentPage={currentPage} client:idle />
    </div>
    <div
      class="hidden md:block shadow-md shadow-slate-500 dark:shadow-slate-500/10 rounded-lg w-full max-w-xs"
    >
      <Search client:load />
    </div>
  </div>
</nav>

<style>
  :root {
    --docsearch-primary-color: var(--theme-accent);
    --docsearch-logo-color: var(--theme-text);
  }

  /* .search-item {
    display: none;
    position: relative;
    z-index: 10;
    flex-grow: 1;
    padding-right: 0.7rem;
    display: flex;
    max-width: 200px;
  } */

  :global(.search-item > *) {
    flex-grow: 1;
  }

  @media (min-width: 50em) {
    .search-item {
      max-width: 400px;
    }
  }
</style>
