---
import PageSection from "../pageSection.astro";
import TweetSlider from "./tweetSlider";
---

<PageSection
  size={"24"}
  className="grid grid-cols-1 md:grid-cols-2 max-w-7xl mx-auto gap-4 md:gap-10 px-4 sm:px-6 lg:px-8"
>
  <div
    class="flex flex-col items-start text-left order-first md:order-last mb-10"
  >
    <h2 class="text-2xl font-semibold text-t3-purple-200">
      Loved by the community
    </h2>
    <h3 class="mt-2 text-5xl tracking-tight font-bold text-t3-purple-50">
      What others have to say about create-t3-app
    </h3>
    <p class="mt-4 text-xl text-t3-purple-200 max-w-3xl">
      Want to be listed here? Mention <a
        href="twitter.com"
        rel="noopener noreferrer"
        class="text-t3-purple-100">@placeholder</a
      > on Twitter!
    </p>
  </div>
  <TweetSlider client:visible />
</PageSection>
