---
import PageSection from "../pageSection.astro";
import TweetSlider from "./tweetSlider";

export interface Tweet {
  id: string;
  handle: string;
  verified: boolean;
  author: string;
  avatar: string;
  date: Date;
  text: string;
  likes: number;
  retweets: number;
  replies: number;
  quotes: number;
}

const dummy: Tweet = {
  id: "1544909672137867264",
  handle: "ajcwebdev",
  author: "Anthony (ajcwebdev.x)",
  verified: false,
  avatar:
    "https://pbs.twimg.com/profile_images/1549247631867711488/hK_Qr-Dx_normal.png",
  date: new Date("2022-07-07T05:02:23.000Z"),
  text: "Now that Blitz.js has pivoted and Bison has stagnated, create-t3-app will be the only framework to give Redwood a run for its money in the quest to build a legitimate fullstack React framework.",
  likes: 18,
  retweets: 3,
  replies: 9,
  quotes: 1,
};

const token = import.meta.env.TWITTER_BEARER_TOKEN;
const fetchTweets = async (ids: string[]) => {
  const url =
    "https://api.twitter.com/2/tweets" +
    `?ids=${ids.join(",")}` +
    "&tweet.fields=created_at,public_metrics" +
    "&user.fields=name,profile_image_url,username,verified" +
    "&expansions=author_id";

  return await fetch(url, {
    headers: {
      Authorization: `Bearer ${token}`,
    },
  })
    .then((res) => res.json())
    .then((res) => {
      // TODO: Maybe use Twitter SDK to make this typesafe in the future?
      if (!res.data) {
        return [dummy];
      }
      return res.data.map((d: any) => {
        const user = res.includes.users.find((u: any) => u.id === d.author_id);
        return {
          id: d.id,
          handle: user.username,
          author: user.name,
          verified: user.verified,
          avatar: user.profile_image_url,
          date: new Date(d.created_at),
          text: d.text.replace(/\b(http(s|):\/\/.+)\W*$/, ""), // remove trailing link
          likes: d.public_metrics.like_count,
          retweets: d.public_metrics.retweet_count,
          replies: d.public_metrics.reply_count,
          quotes: d.public_metrics.quote_count,
        };
      });
    });
};
if (!token) {
  console.error("TWITTER_BEARER_TOKEN is not set");
}

const tweets = await fetchTweets([
  "1544909672137867264",
  "1553580714591158272",
  "1553191258771841024",
  "1571922865078915079",
  "1570054715240763393",
]);
---

<PageSection
  size={"24"}
  className="grid grid-cols-1 md:grid-cols-2 max-w-7xl mx-auto gap-4 md:gap-10 px-4 sm:px-6 lg:px-8"
  id="love"
>
  <div
    class="flex flex-col items-start text-left order-first md:order-last mb-10"
  >
    <h2 class="text-2xl font-semibold text-t3-purple-200">
      Loved by the community
    </h2>
    <h3 class="mt-2 text-5xl tracking-tight font-bold text-t3-purple-50">
      What others have to say about create-t3-app
    </h3>
    <p class="mt-4 text-xl text-t3-purple-200 max-w-3xl">
      Want to be listed here? Mention <a
        href="twitter.com"
        rel="noopener noreferrer"
        class="text-t3-purple-100">@placeholder</a
      > on Twitter!
    </p>
  </div>
  <TweetSlider tweets={tweets} client:visible />
</PageSection>
