---
import { SEO } from "astro-seo";
import Footer from "../components/footer/footer.astro";
import Navbar from "../components/navigation/navbar.astro";
import LeftSidebar from "../components/navigation/leftSidebar.astro";
import "../styles/global.css";
import "../styles/algolia/style.css";
import HeadCommon from "../components/headCommon.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props as Props;

const currentPage = Astro.url.pathname;
---

<!DOCTYPE html>
<html dir="ltr" lang="en-us" class="initial">
  <head>
    <HeadCommon />
    <SEO title={title} description={description} />
  </head>
  <body class="bg-gradient-to-b from-gray-900 via-[#300171] to-slate-900">
    <Navbar />
    <div class="relative">
      <aside id="grid-left" class="hidden" title="Site Navigation">
        <div
          class="fixed top-0 pt-16 h-screen md:pt-0 md:h-auto md:sticky md:top-20 z-40 bg-gradient-to-b via-[#300171] from-gray-900 to-slate-900 w-full overflow-y-auto"
        >
          <LeftSidebar currentPage={currentPage} />
        </div>
      </aside>
    </div>
    <slot />
    <Footer isBlog={false} path="/" />
  </body>
</html>
