---
import PageSection from "../pageSection.astro";
import Feature from "./card.astro";
import NextAuthIcon from "./nextauth.png";
---

<PageSection size={"24"}>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-t3-purple-100">
    <div class="text-center mb-10">
      <h2 class="text-2xl font-semibold text-t3-purple-200">
        Libraries that work
      </h2>
      <h3 class="mt-2 text-5xl tracking-tight font-bold text-t3-purple-50">
        Without the complex setup
      </h3>
      <p class="mt-4 text-xl text-t3-purple-200 max-w-3xl mx-auto">
        create-t3-app gives you the option to install libraries that you need
        without the hassle of scaffolding it all yourself.
      </p>
    </div>
    <div>
      <dl
        class="space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 md:grid-cols-3 sm:grid-rows-3 md:grid-rows-2 sm:grid-flow-col sm:gap-x-6 sm:gap-y-14 lg:gap-x-8"
      >
        <Feature title="Next.js" href="https://nextjs.org/">
          <svg
            {/** @eslint-ignore @ts-ignore: FIXME: THIS IS FIXED WHEN UPGRADING TO ASTRO 1.1.2 */}
            slot="icon"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 aspect-square fill-white"
          >
            <title>Next.js</title>
            <path
              d="M11.5725 0c-.1763 0-.3098.0013-.3584.0067-.0516.0053-.2159.021-.3636.0328-3.4088.3073-6.6017 2.1463-8.624 4.9728C1.1004 6.584.3802 8.3666.1082 10.255c-.0962.659-.108.8537-.108 1.7474s.012 1.0884.108 1.7476c.652 4.506 3.8591 8.2919 8.2087 9.6945.7789.2511 1.6.4223 2.5337.5255.3636.04 1.9354.04 2.299 0 1.6117-.1783 2.9772-.577 4.3237-1.2643.2065-.1056.2464-.1337.2183-.1573-.0188-.0139-.8987-1.1938-1.9543-2.62l-1.919-2.592-2.4047-3.5583c-1.3231-1.9564-2.4117-3.556-2.4211-3.556-.0094-.0026-.0187 1.5787-.0235 3.509-.0067 3.3802-.0093 3.5162-.0516 3.596-.061.115-.108.1618-.2064.2134-.075.0374-.1408.0445-.495.0445h-.406l-.1078-.068a.4383.4383 0 01-.1572-.1712l-.0493-.1056.0053-4.703.0067-4.7054.0726-.0915c.0376-.0493.1174-.1125.1736-.143.0962-.047.1338-.0517.5396-.0517.4787 0 .5584.0187.6827.1547.0353.0377 1.3373 1.9987 2.895 4.3608a10760.433 10760.433 0 004.7344 7.1706l1.9002 2.8782.096-.0633c.8518-.5536 1.7525-1.3418 2.4657-2.1627 1.5179-1.7429 2.4963-3.868 2.8247-6.134.0961-.6591.1078-.854.1078-1.7475 0-.8937-.012-1.0884-.1078-1.7476-.6522-4.506-3.8592-8.2919-8.2087-9.6945-.7672-.2487-1.5836-.42-2.4985-.5232-.169-.0176-1.0835-.0366-1.6123-.037zm4.0685 7.217c.3473 0 .4082.0053.4857.047.1127.0562.204.1642.237.2767.0186.061.0234 1.3653.0186 4.3044l-.0067 4.2175-.7436-1.14-.7461-1.14v-3.066c0-1.982.0093-3.0963.0234-3.1502.0375-.1313.1196-.2346.2323-.2955.0961-.0494.1313-.054.4997-.054z"
            >
            </path>
          </svg>

          <Fragment slot="description">
            We love React. It has made UI development accessible in ways we
            never imagined before. It also can lead developers down some rough
            paths. Next.js offers a lightly opinionated, heavily optimized
            approach to creating a website using React. From routing to API
            definitions to image rendering, we trust Next.js to lead developers
            towards good decisions.
          </Fragment>
        </Feature>
        <Feature title="Typescript" href="https://www.typescriptlang.org/">
          <svg
            {/** @eslint-ignore @ts-ignore: FIXME: THIS IS FIXED WHEN UPGRADING TO ASTRO 1.1.2 */}
            slot="icon"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 aspect-square fill-[#3178C6]"
          >
            <title>Typescript</title>
            <path
              d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361 5.093 5.093 0 0 0-.717-.26 5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085 4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164 5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089 2.12 2.12 0 0 0-.537-.5 5.597 5.597 0 0 0-.807-.444 27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629 7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z"
            >
            </path>
          </svg>
          <Fragment slot="description">
            Javascript is hard. Why add more rules? We firmly believe the
            experience TypeScript provides will help you be a better developer,
            regardless of where you are in your career as an engineer. Whether
            you're new to web development or a seasoned pro, the "strictness" of
            TypeScript will provide a less frustrating, more consistent
            experience than vanilla JS.
          </Fragment>
        </Feature>
        <Feature title="TailwindCSS" href="https://tailwindcss.com/">
          <svg
            {/** @eslint-ignore @ts-ignore: FIXME: THIS IS FIXED WHEN UPGRADING TO ASTRO 1.1.2 */}
            slot="icon"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 aspect-square fill-[#06B6D4]"
          >
            <title>Tailwind CSS</title>
            <path
              d="M12.001,4.8c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 C13.666,10.618,15.027,12,18.001,12c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C16.337,6.182,14.976,4.8,12.001,4.8z M6.001,12c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 c1.177,1.194,2.538,2.576,5.512,2.576c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C10.337,13.382,8.976,12,6.001,12z"
            ></path>
          </svg>
          <Fragment slot="description">
            TailwindCSS is a utility-first CSS framework that helps you build
            beautiful, responsive designs without any extra configuration. It’s
            built with utility-first principles, and is completely customizable
            and extendable.
          </Fragment>
        </Feature>
        <Feature title="tRPC" href="https://trpc.io/">
          <svg
            slot="icon"
            viewBox="0 0 512 512"
            class="h-10 aspect-square fill-[#398CCB]"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="512" height="512" rx="150" fill="#398CCB"></rect>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M255.446 75L326.523 116.008V138.556L412.554 188.238V273.224L435.631 286.546V368.608L364.6 409.615L333.065 391.378L256.392 435.646L180.178 391.634L149.085 409.615L78.0538 368.538V286.546L100.231 273.743V188.238L184.415 139.638L184.462 139.636V116.008L255.446 75ZM326.523 159.879V198.023L255.492 239.031L184.462 198.023V160.936L184.415 160.938L118.692 198.9V263.084L149.085 245.538L220.115 286.546V368.538L198.626 380.965L256.392 414.323L314.618 380.712L293.569 368.538V286.546L364.6 245.538L394.092 262.565V198.9L326.523 159.879ZM312.031 357.969V307.915L355.369 332.931V382.985L312.031 357.969ZM417.169 307.846L373.831 332.862V382.985L417.169 357.9V307.846ZM96.5154 357.9V307.846L139.854 332.862V382.915L96.5154 357.9ZM201.654 307.846L158.315 332.862V382.915L201.654 357.9V307.846ZM321.262 291.923L364.6 266.908L407.938 291.923L364.6 316.962L321.262 291.923ZM149.085 266.838L105.746 291.923L149.085 316.892L192.423 291.923L149.085 266.838ZM202.923 187.362V137.308L246.215 162.346V212.377L202.923 187.362ZM308.015 137.308L264.723 162.346V212.354L308.015 187.362V137.308ZM212.154 121.338L255.446 96.3231L298.785 121.338L255.446 146.354L212.154 121.338Z"
              fill="white"></path>
          </svg>
          <Fragment slot="description">
            If you use TypeScript on both the frontend and backend, you should
            use tRPC to infer types to create a full stack type-safe API. It can
            be used in place or alongside Next.js' API routes, or as a
            standalone server.
          </Fragment>
        </Feature>
        <Feature title="NextAuth.js" href="https://next-auth.js.org/">
          <img
            slot="icon"
            src={NextAuthIcon}
            class="h-10 w-10"
            alt="NextAuth.js"
            width={100}
            height={100}
          />
          <Fragment slot="description">
            When you need a flexible, secure, and scalable authentication
            solution, NextAuth.js is the go-to. It ties into your existing
            database and provides a simple API to manage users and sessions, and
            ties into NextJS and tRPC to provide a seamless experience.
          </Fragment>
        </Feature>
        <Feature title="Prisma" href="https://www.prisma.io/">
          <svg
            {/** @eslint-ignore @ts-ignore: FIXME: THIS IS FIXED WHEN UPGRADING TO ASTRO 1.1.2 */}
            slot="icon"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 fill-white"
          >
            <title>Prisma</title>
            <path
              d="M21.8068 18.2848L13.5528.7565c-.207-.4382-.639-.7273-1.1286-.7541-.5023-.0293-.9523.213-1.2062.6253L2.266 15.1271c-.2773.4518-.2718 1.0091.0158 1.4555l4.3759 6.7786c.2608.4046.7127.6388 1.1823.6388.1332 0 .267-.0188.3987-.0577l12.7019-3.7568c.3891-.1151.7072-.3904.8737-.7553s.1633-.7828-.0075-1.1454zm-1.8481.7519L9.1814 22.2242c-.3292.0975-.6448-.1873-.5756-.5194l3.8501-18.4386c.072-.3448.5486-.3996.699-.0803l7.1288 15.138c.1344.2856-.019.6224-.325.7128z"
            ></path>
          </svg>
          <Fragment slot="description">
            Prisma is the best way to work with databases in your NextJS app. It
            provides a simple, type-safe API to query your database, and it can
            be used with a bunch of different databases, including Postgres,
            MySQL, SQL Server, and SQLite.
          </Fragment>
        </Feature>
      </dl>
    </div>
  </div>
</PageSection>
