---
import AvatarList from "../docs/avatarList.astro";
export interface Props {
  path: string;
  isBlog: boolean;
}
const { path, isBlog } = Astro.props;
---

<footer class="py-12 transition-colors mt-auto flex flex-col bg-transparent">
  {isBlog && <AvatarList path={path} />}
  <div class="container px-6 mx-auto divide-gray-400 divide-opacity-50 pt-6">
    <div class="flex flex-col items-center justify-between w-full">
      <div class="pb-2">
        <a
          href="https://vercel.com/?utm_source=t3-oss&utm_campaign=oss"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            src="/images/powered-by-vercel.svg"
            class="w-full h-10 mt-6"
            alt="Powered by Vercel"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
