---
import AvatarList from "../docs/avatarList.astro";

export interface Props {
  path: string;
  isBlog: boolean;
}
const { path, isBlog } = Astro.props;
---

<footer class="mt-auto flex flex-col bg-transparent py-12 transition-colors">
  {isBlog && <AvatarList path={path} />}
  <div class="container mx-auto divide-gray-400 divide-opacity-50 px-6 pt-6">
    <div class="flex w-full flex-col items-center justify-between">
      <div class="pb-2">
        <a
          class="mt-6 flex rounded-lg"
          href="https://vercel.com/?utm_source=t3-oss&utm_campaign=oss"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            src="/images/powered-by-vercel.svg"
            class="h-10 w-full"
            alt="Powered by Vercel"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
