/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-background-color: #f3f4f6;
  --ifm-color-primary: #8b5cf6;
}

:root[data-theme="dark"] {
  --ifm-navbar-background-color: #18181b;
  --ifm-background-color: #18181b;
}

.navbar-external-link svg {
  @apply hidden;
}

.theme-edit-this-page {
  @apply flex items-center;
}

.markdown h1,
h2,
h3,
h4,
h5 {
  @apply font-bold;
}
.markdown h1 {
  @apply text-3xl;
}
.markdown h2 {
  @apply text-2xl;
}
.markdown h3 {
  @apply text-xl;
}
.markdown h4,
h5 {
  @apply text-lg;
}
