/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-color-primary: #398ccb;
  --ifm-color-primary-dark: #317eb9;
  --ifm-color-primary-darker: #2e77af;
  --ifm-color-primary-darkest: #266290;
  --ifm-color-primary-light: #4e98d0;
  --ifm-color-primary-lighter: #589ed3;
  --ifm-color-primary-lightest: #77b0db;
  --ifm-code-font-size: 95%;
  --ifm-container-width: 1140px;
  --ifm-container-width-xl: 1320px;
  --ifm-footer-background-color: #e8dcff;
}

:root[data-theme="dark"] {
  --ifm-footer-background-color: #e8dcff;
  --ifm-navbar-background-color: #18181b;
  --ifm-background-color: #18181b;
}

.navbar-external-link svg {
  @apply hidden;
}
